<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link href="../static/index.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
          <div class="container-fluid">
            <a class="navbar-brand fs-1" href="/"> ECO-PROGNOSIS</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="feed">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="help">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <section class="page-title">
          <div class="container">
            <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h3>ECO-PROGNOSIS</h3>
            </div>
            <div class="col-md-8 offset-md-2 text-center">
              <h3>About Us</h3>
            </div>
            
            </div>
          </div>
          </div>
        </section>
        
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="about-content">
                  <h3 class="font-weight-bold">Introduction</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est justo, aliquam nec tempor
                    fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum tincidunt magna id
                    euismod. Nam sollicitudin mi quis orci lobortis feugiat.</p>
                  <h3 class="font-weight-bold">How we can help</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est justo, aliquam nec tempor
                    fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum tincidunt magna id
                    euismod. Nam sollicitudin mi quis orci lobortis feugiat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nunc est justo, aliquam nec tempor fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum
                    tincidunt magna id euismod. Nam sollicitudin mi quis orci lobortis feugiat.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="mb-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading text-center text-capitalize font-weight-bold py-5">
                  <h2>Our Team</h2>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Person_icon_BLACK-01.svg/1924px-Person_icon_BLACK-01.svg.png" class="img-fluid w-100" alt="Card image cap">
                  <div class="card-body bg-gray text-center">
                    <h5 class="card-title">Sovan Mohanty</h5>
                    <p class="card-text">Mentor</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Person_icon_BLACK-01.svg/1924px-Person_icon_BLACK-01.svg.png" class="img-fluid w-100" alt="Card image cap">
                  <div class="card-body bg-gray text-center">
                    <h5 class="card-title">Adarsh Sarangi</h5>
                    <p class="card-text">Algorithm Designer and Implementation</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Person_icon_BLACK-01.svg/1924px-Person_icon_BLACK-01.svg.png" class="img-fluid w-100" alt="Card image cap">
                  <div class="card-body bg-gray text-center">
                    <h5 class="card-title">Dezy Jha</h5>
                    <p class="card-text">Frontend Design and Work Flow Reseacher</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Person_icon_BLACK-01.svg/1924px-Person_icon_BLACK-01.svg.png" class="img-fluid w-100" alt="Card image cap">
                  <div class="card-body bg-gray text-center">
                    <h5 class="card-title">Aditya Ranjan</h5>
                    <p class="card-text">Backend Development and Work Flow Reseacher</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        
      <div class="wrapper row5">
        <div id="copyright" class="hoc clear"> 
          <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - <a href="/">MlClimate</a></p>
          <p class="fl_right">By Eco Guargians</p>
       
        </div>
      </div>
      
    <div class="wrapper row1">
        <section id="ctdetails" class="hoc clear"> 
          <ul class="nospace clear">
            <li class="one_quarter first">
              <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
            </li>
            <li class="one_quarter">
              <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
            </li>
            <li class="one_quarter">
              <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. - Sat.:</strong> 08.00am - 18.00pm</span></div>
            </li>
            <li class="one_quarter">
              <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
            </li>
          </ul>
        </section>
      </div>
      <script src="../static/jquery.min.js"></script>
<script src="../static/jquery.backtotop.js"></script>
<script src="../static/jquery.mobilemenu.js"></script>
</body>
</html>