<!DOCTYPE html>
<html lang="">
<head>
<title>Climate Change Prediction</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/index.css" rel="stylesheet" type="text/css" media="all">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('https://www.wallpaperup.com/uploads/wallpapers/2015/06/13/720991/202180fab978e812f31d27cb833f9a24.jpg');"> 
  
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar" style="background: transparent;">
      <div class="container-fluid">
        <a class="navbar-brand fs-1 text-white" href="/"> ECO-PROGNOSIS</a>{{t}}
        <button
          class="navbar-toggler bg-white"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="feed">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="help">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">Choose your way to get prediction</h3>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn1" href="features">Get Started</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<div class="p-4" id="main1">
  <h2 class="">ECO-PROGNOSIS: 
    Empowering a Sustainable 
    Future  Through Precise 
    Climate Prognosis</h2>
  <div class="m-5 p-2 fs-5">
    Eco- Prognosis aims to address the limitation of traditional climate models by 
harnessing the power of machine learning algorithm for climate prediction.</div><div class="m-5 p-2 fs-5">
Applying machine learning allows us to increase the accuracy and speed of making 
these predictions . </div><div class="m-5 p-2 fs-5">
Eco- Prognosis seeks to provide more accurate and reliable forecasts of temperature , 
precipitation , wind patterns, and other relevant climate variables. </div><div class="m-5 p-2 fs-5">
By developing Eco-Prognosis we can significantly contribute to advancing climate 
predictin capabilities , enabling better decision-making , and aiding in climate change 
mitigation and adaptation efforts
  </div>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<script src="../static/jquery.min.js"></script>
<script src="../static/jquery.backtotop.js"></script>
<script src="../static/jquery.mobilemenu.js"></script>
</body>
</html>